
  
  
  .textbox p {
    font-size: 14px;
    margin-bottom: 0;
  }
 



  
  .table, tr, td, th
  {
      border: 1px solid rgb(108, 66, 66);
      border-collapse:initial;
      align-items: center;
      
      
  }
td
{
  padding: 15px;
}

th
{
  background-color: rgb(121, 11, 143);
  color: rgb(5, 4, 4);
}
tr
{
  background-color: rgb(179, 125, 186);

}
tr:nth-child(odd)
{
  background-color: rgb(222, 203, 239);
}
tr:hover
{
  background-color: rgb(255, 212, 22);
  color: black;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.site-footer {
  background-color: #4c1961;
  color: #fff;
  text-align: center;
  padding: 10px;
}